<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
    table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    text-align: left;
    }
    </style>
</head>
<body>

<form action="{% url 'tracker:devs' story_id=story_id %}" method="post">
    {% csrf_token %}
    <h4>Choose a developer to get info about his working time</h4>
    <select name="developer">
        {% for dev in devs_list.devs_set.all %}
            <option value="{{dev.id}}">{{dev.dev_name}}</option>
        {% endfor %}
    </select>
    &nbsp;
    <input type="submit" value="Get Info">
</form>
<br>
<br>
{% if dev_info %}
    <table style="width:70%">
         <tr>
            <th>Developer name</th>
            <th>Story name</th>
            <th>Estimated time</th>
            <th>Elapsed time</th>
         </tr>
        <tr>
            <td>{{ dev_info.dev_name }}</td>
            <td>{{ story_name }}</td>
            <td>{{ dev_info.estimated_time }}</td>
            <td>{{ dev_info.real_time }}</td>
        </tr>
    </table>
<br>
<br>
{% else %}
{% endif %}

<form>
    <button formaction="{% url 'tracker:index' %}">Back to stories page</button>
</form>

</body>
</html>