<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Stories</title>
    <style>
    table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    text-align: left;
    }
    </style>
</head>
<body>
{% if stories_list %}
    <table style="width:70%">
         <tr>
            <th>Story name</th>
            <th>Story text</th>
            <th>Story tasks</th>
            <th>Developers</th>
            <th>Estimated time</th>
            <th>Elapsed time</th>
         </tr>
    {% for story in stories_list %}
        <tr>
            <td>{{ story.story_name }}</td>
            <td>{{ story.story_text }}</td>
            <td><a href="{% url 'tracker:tasks' story.id %}">{{ story.story_name }} tasks list</a></td>
            <td><a href="{% url 'tracker:devs' story.id %}">{{ story.story_name }} developers </a></td>
            <td>{{ story.estimated_time }}</td>
            <td>{{ story.real_time }}</td>
        </tr>
    {% endfor %}
    </table>
{% else %}
    <p>There are no stories recorded</p>
{% endif %}
</body>
</html>