<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
    table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    text-align: left;
}
</style>
</head>
<body>
{% if tasks_list.tasks_set.all %}
    <table style="width:70%">
      <tr>
        <th>Task name</th>
        <th>Story name</th>
        <th>Iteration</th>
        <th>Estimated task time</th>
        <th>Elapsed time for task</th>
        <th>Enter information for task</th>
      </tr>
    {% for task in tasks_list.tasks_set.all %}
      <tr>
        <td>{{ task.task_name }}</td>
        <td>{{ tasks_list.story_name }}</td>
        <td>{{ task.iteration }}</td>
        <td>{{ task.estimated_task_time }}</td>
        <td>{{ task.real_task_time }}</td>
        <td><a href="{% url 'tracker:times' story_id=story_id task_id=task.id %}">{{ task.task_name }}</a></td>
      </tr>
    {% endfor %}
    </table>
<br>
<br>
<form>
    <button formaction="{% url 'tracker:index' %}">Back to stories page</button>
</form>

{% else %}
    <p>There are no tasks recorded</p>
{% endif %}

</body>
</html>