<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>times</title>
    <style>
    table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    text-align: left;
    }
    .SmallInput { width: 30px; height: 10px; }
    </style>
</head>

<body>
<form action="{% url 'tracker:times' story_id=story_id task_id=task_id %}" method="post">
{% csrf_token %}
    <h4>Enter information for {{ task_info.task_name }}</h4>
    Choose developer:<br>
    <select name="developer">
    {% for dev in story.devs_set.all %}
        <option value="{{dev.id}}">{{dev.dev_name}}</option>
    {% endfor %}
    </select>
    <br>
    {% if error_message %}
        <br>
        <b>{{ error_message }}</b>
    {% endif %}
    <br>
    Enter spent time for this task in format hh:mm. Number of minutes should be less than 60.
    <br>
    <!--<input type="text" name="task_duration" value="hh:mm">-->
    <input type="text" name="hours" value="HH" class="SmallInput">:
    <input type="text" name="minutes" value="mm" class="SmallInput">
    <br>
    <input type="submit" value="Submit">
</form>
<br>
<br>
 <table style="width:70%">
         <tr>
            <th>Task name</th>
            <th>Story name</th>
            <th>Iteration</th>
            <th>Estimated time</th>
            <th>Elapsed time</th>
         </tr>
        <tr>
            <td>{{ task_info.task_name }}</td>
            <td>{{ story.story_name }}</td>
            <td>{{ task_info.iteration }}</td>
            <td>{{ task_info.estimated_task_time }}</td>
            <td>{{ task_info.real_task_time }}</td>
        </tr>
    </table>
<br>
<br>
<form>
    <button formaction="{% url 'tracker:tasks' story_id=story_id %}">Back to tasks page</button>
    <button formaction="{% url 'tracker:index' %}">Back to stories page</button>
</form>
</body>
</html>


{% comment %}
<!--<form action="{% url 'tracker:register' story_id=story_number task_id=task_number %}" method="post">-->
<!--{% csrf_token %}-->
<!--{% for task in tasks_list.tasks_set.all %}-->
    <!--<input type="text" name="task" id="task{{ forloop.counter }}" value="{{ task.id }}">-->
    <!--<label for="task{{ forloop.counter }}">{{ task.task_name }}</label><br>-->
<!--{% endfor %}-->
<!--<input type="submit" value="Vote">-->
<!--</form>-->
{% endcomment %}